<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Cadastrar empregado</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="formEmpregado" (ngSubmit)="onSubmit()">
            <h6 class="heading-small text-muted mb-4">Informações empregado</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Perfil</label>
                    <input type="text" formControlName="perfil" class="form-control" [ngClass]="{'is-invalid': obter.perfil.errors && obter.perfil.value}">
                    <div *ngIf="obter.perfil.invalid && (obter.perfil.dirty || obter.perfil.touched)">
                    <div class="form-control-label" style="color: red" *ngIf="obter.perfil.errors.required">Perfil Obrigatório</div>
                    <div class="form-control-label" style="color: red" *ngIf="obter.perfil.errors.minlength">O perfil deve ter pelo menos 4 caracteres.</div>
                    <div class="form-control-label" style="color: red" *ngIf="obter.perfil.errors.maxlength">O perfil deve ter no máxmio 20 caracteres.</div>
                  </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input type="email" formControlName="email" [ngClass]="{'is-invalid': obter.email.errors && obter.email.value}" class="form-control">
                    <div *ngIf="obter.email.invalid && (obter.email.dirty && obter.nome.touched)">
                    <div class="form-control-label" style="color: red" *ngIf="obter.email.errors.required">Email Obrigatório</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Nome</label>
                    <input type="text" formControlName="nome" [ngClass]="{'is-invalid': obter.nome.errors && obter.nome.value}" class="form-control">
                    <div *ngIf="obter.nome.invalid && (obter.nome.dirty || obter.nome.touched)" >
                    <div class="form-control-label" style="color: red" *ngIf="obter.nome.errors.required">Nome Obrigatório</div>
                    <div class="form-control-label" style="color: red" *ngIf="obter.nome.errors.minlength">O nome deve ter pelo menos 4 caracteres.</div>
                    <div class="form-control-label" style="color: red" *ngIf="obter.nome.errors.maxlength">O nome deve ter no máxmio 20 caracteres.</div>
                  </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Sobrenome</label>
                    <input type="text"formControlName="sobrenome" [ngClass]="{'is-invalid': obter.sobrenome.errors && obter.sobrenome.value}" class="form-control">
                    <div *ngIf="obter.sobrenome.invalid && (obter.sobrenome.dirty || obter.sobrenome.touched)">
                    <div class="form-control-label" style="color: red" *ngIf="obter.sobrenome.errors.required">Sobrenome Obrigatório</div>
                    <div class="form-control-label" style="color: red" *ngIf="obter.sobrenome.errors.minlength">O Sobrenome deve ter pelo menos 4 caracteres.</div>
                    <div class="form-control-label" style="color: red" *ngIf="obter.sobrenome.errors.maxlength">O Sobrenome deve ter no máxmio 20 caracteres.</div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">Endereço</label>
                    <input type="text" formControlName="endereco" [ngClass]="{'is-invalid': obter.endereco.errors && obter.endereco.value}" class="form-control">
                    <div *ngIf="obter.endereco.invalid && (obter.endereco.dirty || obter.endereco.touched)">
                    <div class="form-control-label" style="color: red" *ngIf="obter.endereco.errors.required">Endereço Obrigatório</div>
                    <div class="form-control-label" style="color: red" *ngIf="obter.endereco.errors.minlength">O Endereço deve ter pelo menos 6 caracteres.</div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Cidade</label>
                    <input type="text" formControlName="cidade" [ngClass]="{'is-invalid': obter.cidade.errors && obter.cidade.value}" class="form-control">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" >Estado</label>
                    <input type="text" formControlName="estado" [ngClass]="{'is-invalid': obter.estado.errors && obter.estado.value}" class="form-control">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Cep</label>
                    <input type="text" formControlName="cep" [ngClass]="{'is-invalid': obter.cep.errors && obter.cep.value}" class="form-control">
                  </div>
                  <div class="text-right">
                    <button type="submit" class="btn btn-primary my-4" >Cadastrar</button>
                  </div>
                </div>
                <div class="col-lg-12" *ngIf="submitted">
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-inner--text"><strong>Sucesso!</strong> Cadastro realizado com sucesso!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                </div>
                <div class="col-lg-12" *ngIf="formEmpregado.setErrors">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-inner--text"><strong>Perigo!</strong> Error a cadastrar!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
